body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_div_main_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__div_main_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#div_left {
	top: 0px;
	left: 0px;
	width: 720px;
	height: 1024px;
}

#_bg__div_left_ek1 {
	top: 0px;
	left: 0px;
	width: 720px;
	height: 1024px;
	background: -webkit-radial-gradient(closest-side, rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -o-radial-gradient(closest-side, rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -moz-radial-gradient(closest-side, rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -ms-radial-gradient(closest-side, rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: radial-gradient(closest-side, rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
}


#laundry_image {
	top: 211px;
	left: 59px;
	width: 602px;
	height: 602px;
}

#div_right {
	top: 0px;
	left: 720px;
	width: 720px;
	height: 1024px;
}

#_bg__div_right_ek1 {
	top: 0px;
	left: 0px;
	width: 720px;
	height: 1024px;
	background: -webkit-radial-gradient(closest-side, rgba(248,250,252,1) 0%, rgba(244.82,247.73,250.64,1) 45%, rgba(241,245,249,1) 100%);
	background: -o-radial-gradient(closest-side, rgba(248,250,252,1) 0%, rgba(244.82,247.73,250.64,1) 45%, rgba(241,245,249,1) 100%);
	background: -moz-radial-gradient(closest-side, rgba(248,250,252,1) 0%, rgba(244.82,247.73,250.64,1) 45%, rgba(241,245,249,1) 100%);
	background: -ms-radial-gradient(closest-side, rgba(248,250,252,1) 0%, rgba(244.82,247.73,250.64,1) 45%, rgba(241,245,249,1) 100%);
	background: radial-gradient(closest-side, rgba(248,250,252,1) 0%, rgba(244.82,247.73,250.64,1) 45%, rgba(241,245,249,1) 100%);
}

#div_header_text {
	top: 154px;
	left: 64px;
	width: 592px;
	height: 98px;
}

#_bg__div_header_text_ek1 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 98px;
}


#h1 {
	top: 0px;
	left: 154px;
	width: 317.8px;
	height: 73.8px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	color:#263238;
}


#p {
	top: 69px;
	left: 118px;
	width: 375.4px;
	height: 36.4px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 24px;
	text-align: left;
	color:#5D6C79;
}

#div_input_fields {
	top: 316px;
	left: 64px;
	width: 592px;
	height: 468px;
}

#_bg__div_input_fields_ek1 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 468px;
}

#div_input_field {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 125px;
}

#_bg__div_input_field_ek1 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 125px;
}


#p_ek1 {
	top: 0px;
	left: 0px;
	width: 71px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#334155;
}

#input_text_field {
	top: 32px;
	left: 0px;
	width: 592px;
	height: 93px;
}

#_bg__input_text_field_ek1 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 93px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	-ms-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-o-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-webkit-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-moz-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	background:rgba(255,255,255,1);
}


#p_ek2 {
	top: 32px;
	left: 32px;
	width: 224.4px;
	height: 36.4px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 24px;
	text-align: left;
	color:#E2E8F0;
}

#div_input_field_ek2 {
	top: 165px;
	left: 0px;
	width: 592px;
	height: 157px;
}

#_bg__div_input_field_ek3 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 157px;
}


#p_ek3 {
	top: 0px;
	left: 0px;
	width: 108px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#334155;
}

#input_text_field_ek2 {
	top: 32px;
	left: 0px;
	width: 592px;
	height: 93px;
}

#_bg__input_text_field_ek3 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 93px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	-ms-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-o-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-webkit-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	-moz-box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	box-shadow:0px 4px 64px 1px rgba(55,73,87,0.05);
	background:rgba(255,255,255,1);
}


#p_ek4 {
	top: 32px;
	left: 32px;
	width: 130.4px;
	height: 36.4px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 24px;
	text-align: left;
	color:#E2E8F0;
}


#p_ek5 {
	top: 133px;
	left: -3px;
	width: 599px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: right;
	color:#334155;
}

#button {
	top: 362px;
	left: 0px;
	width: 592px;
	height: 106px;
}

#_bg__button_ek1 {
	top: 0px;
	left: 0px;
	width: 592px;
	height: 106px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	-ms-box-shadow:0px 4px 64px 1px rgba(16,171,255,0.1);
	-o-box-shadow:0px 4px 64px 1px rgba(16,171,255,0.1);
	-webkit-box-shadow:0px 4px 64px 1px rgba(16,171,255,0.1);
	-moz-box-shadow:0px 4px 64px 1px rgba(16,171,255,0.1);
	box-shadow:0px 4px 64px 1px rgba(16,171,255,0.1);
	background: -webkit-linear-gradient(-288.46450196168deg , rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -o-linear-gradient(-288.46450196168deg , rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -moz-linear-gradient(-288.46450196168deg , rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: -ms-linear-gradient(-288.46450196168deg , rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
	background: linear-gradient(-288.46450196168deg , rgba(251,191,36,1) 0%, rgba(245,158,11,1) 100%);
}


#p_ek6 {
	top: 36px;
	left: 258px;
	width: 97.8px;
	height: 42.8px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 28px;
	text-align: left;
	color:#FFFFFF;
}


#p_ek7 {
	top: 848px;
	left: 61px;
	width: 599px;
	height: 27.8px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#475569;
}
