body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

label {
    margin-bottom: 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block; 
    width: calc(100% - 22px); 
}

button#addCustomer {
    background-color: lightseagreen; 
    color: #fff;
    cursor: pointer;
    border: none; 
}

button#addCustomer:hover {
    background-color: #00b318; 
}

button.deleteBtn {
    background-color: red; 
    color: #ff0000; 
    cursor: pointer;
    border: none; 
}

button.deleteBtn:hover {
    background-color: #c70000; 
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
